@tailwind base;
@tailwind components;
.rotateBorder {
  /* height: 100%;
  width: 100%; */
  position: relative;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
}

.rotateBorder:before {
  content: "";
  background-color: rgb(20, 20, 105);
  height: 100%;
  width: 100%;
  position: absolute;
  left: -0%;
  top: -0%;
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@tailwind utilities;

@layer utilities {
  .face-hidden {
    backface-visibility: hidden;
  }
}
